@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Coiny&family=Poppins&display=swap');

.font-coiny {
  font-family: "Coiny", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}


body {
  overscroll-behavior: none;
  height: 100vh;
}
.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
